<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script src="~/Scripts/bootstrap.js"></script>

<link href="~/Content/Site.css" rel="stylesheet" />

<link rel="stylesheet" href="~/Content/login/reset.css">
<link rel="stylesheet" href="~/Content/login/supersized.css">
<link rel="stylesheet" href="~/Content/login/style.css">

<div class="page-container">
    <h1>Login</h1>
    <form action="" method="post">
        <input type="text" name="username" id="username" class="username" placeholder="Username">
        <input type="password" name="password" id="password" class="password" placeholder="Password">
        <button type="submit" id="guardar">Sign me in</button>
        <div class="error"><span>+</span></div>
    </form>
    <div class="connect">
        <p>Or connect with:</p>
        <p>
            <a class="facebook" href=""></a>
            <a class="twitter" href=""></a>
        </p>
    </div>
</div>
<script src="~/Scripts/login/login.js"></script>